html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.first-box {
    height: 100px;
    width: 200px;
    border: 8px solid blue;
    background: lightcoral;
}

.second-box {
    height: 100px;
    width: 200px;
    border: 8px solid blue;
    background: lightblue;
}
